.header-page {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-box);
    margin-bottom: var(--gap-big);
}

.navigation {
    display: flex;
}

.navigation > .menu-item {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: var(--color-text);
    transition: 0.2s linear;
}

.navigation > .menu-item:hover {
    color: var(--color-box);
    background-color: var(--color-text);
    font-weight: bold;
}