.todo-list-individual {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;

    margin-bottom: var(--gap-big);
}

.todo-list-individual > .item{
    background-color: var(--color-box);
    height: 50px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
}