.todo-list-general {
    display: grid;
    grid-gap: 24px;

    margin-bottom: var(--gap-big);
}

.todo-list-general > .item {
    background-color: var(--color-box);
    height: 50px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
}